div.comment {
  display: flex;
  margin-top: 20px;
}

div.comment img {
  height: 30px;
  margin-right: 15px;
}

div.comment p.comment-content {
  background-color: #EEEEEE;
  padding: 15px;
  border-radius: 25px;
  line-height: 1.4;
}

p.comment-content span.comment-name {
  font-weight: bold;
}
