header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  background-color: #4A90E2;
  color: #fff;
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  height: 60px;
}

header .brand {
  font-weight: bold;
}

header .profile {
  display: flex;
  align-items: center;
}

header .profile img {
  height: 25px;
  margin-left: 15px;
  margin-top: -5px;
}